.hud-title {
  -fx-text-fill: #eaeaea;
  -fx-font-size: 12px;
  -fx-font-family: "Consolas", "Monaco", "monospace";
}

.hud-value {
  -fx-text-fill: #ffd54a; /* dorado suave */
  -fx-font-size: 12px;
  -fx-font-family: "Consolas", "Monaco", "monospace";
}
.hud-timer {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px; /* súbelo si quieres 16/18 */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.65), 6, 0.0, 0, 1);
    -fx-opacity: 1.0;
    -fx-background-color: transparent;
}
